
<h1>Registration</h1>

<form (ngSubmit) = "addUser(mydata)" #mydata=ngForm>
 
 <label for="uname">Name</label>
<input type="text" id="uname"  ngModel name= 'uname' required #uname=ngModel/>
<div *ngIf = 'uname.invalid'> Name can not be blank </div>
<label for="email">Email</label>
<input type="email" id="email"  ngModel name= 'email' required  #email=ngModel/>
<div *ngIf = 'email.invalid'>
    <div *ngIf = 'email.errors.required'>
        Email cannot be blank
    </div>
    <div *ngIf = 'email.errors.email'>
        Enter correct email
    </div>
</div>
<label for="city">Password</label>
<input type="password" id="password"  ngModel name= 'password'/>
<button>Register</button>





</form>
<a href = "/login">Login</a>


