<h1>Favourites</h1>
<button (click) = "load()">Load Favourites</button>
<p>The following is a list of your favourite songs from various artists.</p>



<mat-list *ngFor="let track of favourites">

   
    <mat-list-item>
        <mat-icon mat-list-icon >queue_music</mat-icon>
        <div mat-line>
            <mat-card>
                <mat-card-content><strong>Track Name: {{track.name}}</strong> <br>
                    <strong>Artists Name: {{track.artists[0].name}}</strong>
    
                </mat-card-content>

            </mat-card>
        </div>
    </mat-list-item>
   

</mat-list>